.bvf-owner {
    background-color: #fff; 
    padding-top: 10px
}
.bvf-owner .bvf-thumb {
    width:auto;
}
.bvf-owner .bvf-thumb .bvf-image {
    width: 54px;
    border: 3px solid rgb(239, 108, 0);
    float: left;
}
.bvf-owner .bvf-thumb star-rating-comp {
    float: left;
}
.bvf-owner-info {
    padding-left: 10px;
    padding-top: 11px;
}
.bvf-owner-info .bvf-owner-name {
    font-size: 18px;
}
.bvf-owner-info .bvf-owner-designation {
    font-size: 11px;
}
.bvf-owner-info .bvf-contact {
    font-size: 11px; 
    color: #bfbfbf;
}