<div layout-gt-md="row" layout="column" class="bvf-search">
    <div flex>
        <dimension-search  (resetAllTriggered)="resetAllListener()"></dimension-search>
    </div>
    <!--<div flex="30">
        <select-owner (resetAllTriggered)="resetAllListener()"></select-owner>
    </div>
    <div flex="20">
        <view-usecases></view-usecases>    
    </div>-->
    <!--<div class="bvf-button">
        <button type="button" (click)="viewAll()" md-raised md-primary md-button md-ink-ripple>Categories </button>
    </div>-->
</div>
