.bvf-use-case-details {
    width: 65%; padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px; color: #444649;
    width: 800px
}
.bvf-use-case-details-top {
    border-bottom: 1px solid #444649; 
    padding-bottom: 6px;
}
.bvf-use-case-details-close-btn {
    text-align: right; 
    padding-top: 10px;

    /deep/ button {
        background-color: #6AA451; 
        color: white;
    }
}
.bvf-use-case-details-body {
    overflow-y: auto; 
    max-height: 400px;
}
.bvf-use-case-details-text {
    padding-top: 13px; 
    margin-right: 20px;
}
.img-size {
    height: 40%;
}
.product-title {
    font-size: 30px;
}
.sm-size {
    height: 20%;
}
.thumb-image {
    border: 1px #dedede solid;
}
.comments-section {
    background-color: #6AA451;
}
.comment-area {
    padding: 10px;
}
.comment-button {
     background-color: #6AA451;
     color: #fff;
}