.img-size {
    width: 79%; 
    border: 1px solid #000;
}

.thumb-grower-img {
    width: 75%; 
    border: 1px solid #000;
}
.searched-item {
    border: 1px solid #dedede;
    padding: 15px;
    margin-top: 20px;
}