.img-size {
    width: 79%; 
    border: 1px solid #000;
}

.thumb-grower-img {
    width: 75%; 
    border: 1px solid #000;
}
.searched-item {
    border: 1px solid #dedede;
    padding: 15px;
    margin-top: 20px;
}
.searched-item-imgs {
    margin-top: 20px;
}
.searched-item-days {
    padding-top: 17px;
    padding-left: 46px;
}
.search-btn-area {
    padding-top: 1px;
    padding-left: 24px;
}
.search-btn {
  background-color: #6AA451;
  color: #fff;
}
.search-width {
  width: 96vw;
}
md-progress-bar svg path { stroke: green; }