<md-card class="search-width">
    <md-card-content>
        <div layout="row">
            <div flex="90" *ngIf="searchbarType == 'products'">
                <td-chips [chipAddition]="chipAddition"
                    [chipRemoval]="chipRemoval"
                    [items]="filteredStrings"
                    [(ngModel)]="stringsModel"
                    placeholder="Enter item name"
                    [disabled]="disabled"
                    (inputChange)="filterStrings($event)"
                    requireMatch>
                </td-chips>
            </div>
            <div flex="90" *ngIf="searchbarType == 'user'">
                <td-search-input backIcon="arrow_back" placeholder="Search here" [showUnderline]="false" [debounce]="500" (searchDebounce)="searchInputTerm = $event" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''"></td-search-input>
            </div>
            <div flex="10" class="search-btn-area">
                <button md-button class="search-btn" (click)="showResult = true"> Search </button>
            </div>
        </div>
        <div layout="row" *ngIf="searchbarType == 'products' && showResult">
            <div flex>
                <md-card layout="row">
                    <md-card-content flex>
                        <div layout="row">
                            <div flex="40">
                                <div layout="row">
                                    <div flex="20">
                                        <img class="thumb-grower-img" src="../../assets/images/male.png">
                                    </div>    
                                    <div flex="80">
                                        <div class="grower-info">
                                            <strong>Grower Name:</strong>Usman Azam 
                                        </div>
                                        <div class="grower-info">
                                            <strong>Location:</strong>South Punjab, Abc  
                                        </div>
                                        <div class="grower-info">
                                            <strong>Contact Number:</strong> 0333-5787889 
                                        </div>
                                        <div class="grower-info">
                                            <strong>Distance:</strong> 10 miles away  
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" class="searched-item-imgs">
                                    <img src="../../assets/images/map.gif">
                                </div>
                            </div>
                            <div flex="60">
                                <div layout="row">
                                    <div flex="20">
                                        <img class="thumb-grower-img" src="../../assets/images/tomato.jpg">
                                    </div>
                                    <div flex="80">
                                        <div layout="row">
                                            <div flex="80">
                                                <h3>Abc Tomato</h3>
                                            </div>
                                            <div flex="20" class="searched-item-days"> 
                                                <span>3 days left</span>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <md-progress-bar
                                                class="example-margin"
                                                [color]="color"
                                                [mode]="mode"
                                                [value]="50"
                                                [bufferValue]="bufferValue">
                                            </md-progress-bar>
                                        </div>
                                    </div>
                                </div>

                                <div layout="row">
                                    <div flex="20">
                                        <img class="thumb-grower-img" src="../../assets/images/cabbage.JPG">
                                    </div>
                                    <div flex="80">
                                        <div layout="row">
                                            <div flex="80">
                                                <h3>Xyz Cabbage</h3>
                                            </div>
                                            <div flex="20" class="searched-item-days"> 
                                                <span>4 days left</span>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <md-progress-bar
                                                class="example-margin"
                                                [color]="color"
                                                [mode]="mode"
                                                [value]="40"
                                                [bufferValue]="bufferValue">
                                            </md-progress-bar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" *ngIf="searchbarType == 'user' && showResult" layout-wrap>
            <div flex="33">
                <md-card>
                    <md-card-content>
                        <div layout="row">
                            <div flex="20">
                                <img class="thumb-grower-img" src="../../assets/images/male.png">
                            </div>    
                            <div flex="80">
                                <div class="grower-info">
                                    <strong>Grower Name:</strong>Ahmed Hassan 
                                </div>
                                <div class="grower-info">
                                    <strong>Location:</strong>South Punjab, Abc  
                                </div>
                                <div class="grower-info">
                                    <strong>Contact Number:</strong> 0333-5544667 
                                </div>
                                <div class="grower-info">
                                    <strong>Distance:</strong> 10 miles away  
                                </div>
                            </div>
                        </div>
                        <div layout="row" class="searched-item-imgs">
                            <img class="map-image" src="../../assets/images/map.gif">
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="33">
                <md-card>
                    <md-card-content>
                        <div layout="row">
                            <div flex="20">
                                <img class="thumb-grower-img" src="../../assets/images/male.png">
                            </div>    
                            <div flex="80">
                                <div class="grower-info">
                                    <strong>Grower Name:</strong>Ahmed Fawad 
                                </div>
                                <div class="grower-info">
                                    <strong>Location:</strong>South Punjab, Abc  
                                </div>
                                <div class="grower-info">
                                    <strong>Contact Number:</strong> 0333-9898767  
                                </div>
                                <div class="grower-info">
                                    <strong>Distance:</strong> 8 miles away  
                                </div>
                            </div>
                        </div>
                        <div layout="row" class="searched-item-imgs">
                            <img class="map-image" src="../../assets/images/map.gif">
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="33">
                <md-card>
                    <md-card-content>
                        <div layout="row">
                            <div flex="20">
                                <img class="thumb-grower-img" src="../../assets/images/male.png">
                            </div>    
                            <div flex="80">
                                <div class="grower-info">
                                    <strong>Grower Name:</strong>Rohaan Ishfaq 
                                </div>
                                <div class="grower-info">
                                    <strong>Location:</strong>South Punjab, Abc  
                                </div>
                                <div class="grower-info">
                                    <strong>Contact Number:</strong> 0333-5498980  
                                </div>
                                <div class="grower-info">
                                    <strong>Distance:</strong> 9 miles away  
                                </div>
                            </div>
                        </div>
                        <div layout="row" class="searched-item-imgs">
                            <img class="map-image" src="../../assets/images/map.gif">
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="33">
                <md-card>
                    <md-card-content>
                        <div layout="row">
                            <div flex="20">
                                <img class="thumb-grower-img" src="../../assets/images/male.png">
                            </div>    
                            <div flex="80">
                                <div class="grower-info">
                                    <strong>Grower Name:</strong>Usman Azam
                                </div>
                                <div class="grower-info">
                                    <strong>Location:</strong>South Punjab, Abc  
                                </div>
                                <div class="grower-info">
                                    <strong>Contact Number:</strong> 0333-57676899 
                                </div>
                                <div class="grower-info">
                                    <strong>Distance:</strong> 6 miles away  
                                </div>
                            </div>
                        </div>
                        <div layout="row" class="searched-item-imgs">
                            <img class="map-image" src="../../assets/images/map.gif">
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="33">
                <md-card>
                    <md-card-content>
                        <div layout="row">
                            <div flex="20">
                                <img class="thumb-grower-img" src="../../assets/images/male.png">
                            </div>    
                            <div flex="80">
                                <div class="grower-info">
                                    <strong>Grower Name:</strong>Gohar Sharif 
                                </div>
                                <div class="grower-info">
                                    <strong>Location:</strong>South Punjab, Abc  
                                </div>
                                <div class="grower-info">
                                    <strong>Contact Number:</strong> 0333-9090977 
                                </div>
                                <div class="grower-info">
                                    <strong>Distance:</strong> 5 miles away  
                                </div>
                            </div>
                        </div>
                        <div layout="row" class="searched-item-imgs">
                            <img class="map-image" src="../../assets/images/map.gif">
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-card-content>
</md-card>