.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 100px;
  line-height: 120px;
  height: 100px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px;
}


.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F2F2F2), color-stop(100%, #F2F2F2));
  background: -webkit-linear-gradient(top, #F2F2F2, #F2F2F2);
  background: -moz-linear-gradient(top, #F2F2F2, #F2F2F2);
  background: -o-linear-gradient(top, #F2F2F2, #F2F2F2);
  background: linear-gradient(top, #F2F2F2, #F2F2F2);
  background-color: #F2F2F2;
  border-color: #D3D3D3;
  color: #156B84;
  font-size: 10px;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}



.button-highlight:active {
  background: #F2F2F2;
  color: #F2F2F2;
}

.button-highlight-active {
  background: #F2F2F2;
  color: #EF810E;
  border-color: #EF810E;
}

a {
    /deep/ span {
        position: relative;
        /deep/ img {
            display: inline-block;
            width: 65%;
            position: absolute;
            left: 18px;
            top: 8px;
        }
        /deep/ span {
            top: 18px;
        }
    }
}