<span class="social-button-area">
    <a class="social-button" target="_blank" *ngIf="'twitter' == socialIcon" href="{{socialUrl}}">
        <img src="../../../assets/images/twitter-button.png">
    </a>
    <a class="social-button" target="_blank" *ngIf="'linkedin' == socialIcon" href="{{socialUrl}}">
        <img src="../../../assets/images/linkedin-button.png">
    </a>
    <a class="social-button" target="_blank" *ngIf="'mail' == socialIcon" href="mailto:{{socialUrl}}">
        <img src="../../../assets/images/mailbox-button.png">
    </a>
</span>
