.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.chart-height {
  height: 300px;
}
.bvf-flex {
  padding-left: 10px;
  padding-right: 10px;
}
.bvf-error-msg {
  text-align: center;
  padding-top: 50px;
}
.bvf-scroll-top-btn {
    position: fixed;
    bottom: 50px;
    right: 30px;
    md-icon {
      font-size: 32px;
    }
}